appdirs
attrs
Babel
beautifulsoup4
cached-property
certifi
cffi
chardet
click
colorama
cryptography
Cython
dataclasses
decorator
deep-translator
defusedxml
docutils
ebaysdk
feedparser
fpdf
freezegun
geographiclib
geopy
gevent
googlemaps
greenlet
html2text
idna
img2pdf
importlib-metadata
isodate
Jinja2
joblib
libsass
lxml
Mako
MarkupSafe
netifaces
num2words
numpy
ofxparse
pandas
passlib
patsy
pdfminer.six
phonenumbers
pikepdf
Pillow==8.4.0
pmdarima
polib
psutil
psycopg2-binary
pycparser
pydot
pyparsing
PyPDF2==1.26.0
pyserial
python-dateutil
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
requests-toolbelt
scikit-learn
scipy
simplejson
six
soupsieve
SQLAlchemy
statsmodels
threadpoolctl
typing-extensions==4.1.1
urllib3
vobject
Werkzeug==0.16.1
xlrd==1.2.0
XlsxWriter
xlwt
zeep
zipp
cx-Oracle
zmq
pycryptodome
pycryptodomex
twilio
openpyxl
pydevd-odoo
plotly
opencv-python
google-auth
google-auth-oauthlib
google-api-python-client
oauth2client
pytube
whatismyip
pytesseract
firebase_admin
